# Data Scrapping Using BeautifulSoup

In [1]:
# importing required libraries/framework

import sys
import requests
from bs4 import BeautifulSoup
import re

In [2]:
# function to get the Address
df = {'Address':[]}
def getAddress(url):
    url = requests.get(url)
    soup = BeautifulSoup(url.content, 'html.parser')
    address = '-'
    for para in soup.find_all("div", class_="adr"):
        if para:
            address = (para.get_text())
        df['Address'].append(address)

In [3]:
#### function to get the Principle name(Optional Code)

""" def getPrinciple(url):
        url = requests.get(url)
        soup = BeautifulSoup(url.content, 'html.parser')
        principle = '-'
        for para in soup.find_all("p", class_="name"):
            if para:
                principle = (para.get_text())

        df["Principle"].append(principle)"""

' def getPrinciple(url):\n        url = requests.get(url)\n        soup = BeautifulSoup(url.content, \'html.parser\')\n        principle = \'-\'\n        for para in soup.find_all("p", class_="name"):\n            if para:\n                principle = (para.get_text())\n\n        df["Principle"].append(principle)'

In [4]:
import pandas as pd
import numpy as np
data = pd.read_csv('data.csv')

In [5]:
data

,",",COLLEGE NAME,WEBSITE,ADRESS
0,1,"Abhinava Bharathi College of Pharmacy, Mandya",NaN,NaN
1,2,"Academy Of Management Studies, Hyderabad",http://www.useams.org/,NaN
2,3,"Academy Of Mass Communication, Lucknow",https://www.amclko.org/,NaN
3,4,Acharaya Shri Chander College Of Medical Scien...,http://ascomscollege.com/,NaN
4,5,"Acharya Institutes of Science & Management, Ba...",https://www.acharya.ac.in/,NaN
...,...,...,...,...
495,496,"Maulana Azad Institute Of Dental Sciences, New...",http://maids.ac.in/,NaN
496,497,"Mawlai Presbyterian College, Shillong",http://mawlaipresbyteriancollege.org/,NaN
497,498,"Mawsynram Border Area College, Mawsynram",http://www.mawsynramborderareacollege.com/,NaN
498,499,"Mayai Lambi College, Imphal",http://www.mayailambicollege.in/,NaN
499,500,"MBTS Govt Polytechnic, GUNTUR",NaN,NaN

In [6]:
urls = data.WEBSITE

In [7]:
urls

0                                             NaN
1                          http://www.useams.org/
2                         https://www.amclko.org/
3                       http://ascomscollege.com/
4                      https://www.acharya.ac.in/
                          ...
495                           http://maids.ac.in/
496         http://mawlaipresbyteriancollege.org/
497    http://www.mawsynramborderareacollege.com/
498              http://www.mayailambicollege.in/
499                                           NaN
Name: WEBSITE, Length: 500, dtype: object

In [8]:
# checking total null values

urls.isnull().sum()

38

In [9]:
urls = urls.fillna(0)

In [13]:
i = 0
for url in urls:
    i += 1
    if i == 50:
        break
    if url != 0:
        print(url)
        try:
            getAddress(str(url))
        except:
            print('ConnectionError')

http://www.useams.org/
https://www.amclko.org/
http://ascomscollege.com/
https://www.acharya.ac.in/
https://pgcollegekawardha.edu.in/
http://acmecollege.com/
http://www.adarshcollegeedu.co.in/ContactUs.aspx
http://www.adhiyamaanpolytech.in/
https://www.aec.edu.in/
http://www.adityatekkali.edu.in/
https://www.asci.org.in/
http://www.agmc.nic.in/
https://www.ainsahmedabad.org/
https://atc.edu.in/
https://ammcollege.in/
ConnectionError
https://alhafeezcollege.org/
https://alipurduarcollege.ac.in/
https://www.aiimsjodhpur.edu.in/
https://aiimsbhopal.edu.in/index_controller/index
ConnectionError
http://www.aceatech.com/
http://actripura.edu.in/
ConnectionError
https://aimsbschool.org/
ConnectionError
https://www.amity.edu/jaipur/abs/
http://amjadalikhancollege.edu.in/
http://ampatidegreecollege.in/
https://www.accommercejpg.org/
https://www.actrainingcollege.org/
http://www.actc.edu.in/
http://www.andhraloyolacollege.ac.in/
http://www.amc.edu.in/
https://www.indcareer.com/andhra-pradesh/visakhapatnam/www.anits.edu.in
http://anushreecollege.com/home.php
http://apscollegeofnursing.com/
http://www.aqjpgstudies.org/
http://www.arghpharmacy.ac.in/
http://www.arafatrust.org/arafa_arts_science.html
https://aimri.in/
http://www.samcpatna.org/
ConnectionError
http://www.apied.edu.in/
https://www.aryamgt.ac.in/
http://aryanedu.com/
http://www.aryavartgyan.com/
ConnectionError
http://ashaacademy.org/
https://www.asadi.edu.in/
http://sriasnmgdcpalakol.in/
ConnectionError

In [14]:
df

{'Address': ['2nd Floor, Manzil Chambers,Mehdipatnam X Roads, HYD500028',
  '2nd Floor, Manzil Chambers,Mehdipatnam X Roads, HYD500028']}

In [16]:
new_df = pd.DataFrame.from_dict(df)

In [17]:
new_df

                                             Address
0  2nd Floor, Manzil Chambers,Mehdipatnam X Roads...
1  2nd Floor, Manzil Chambers,Mehdipatnam X Roads...